* {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.Login {
    text-decoration: none;
    color: black;
    padding-top:2%; 
}

body {
    max-width: 1000px;
    margin: 0 auto; 
    background-color: white;
}

header {
    max-width: 100%;
    max-height: 500px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.huvudbild {
     
     grid-column: 1 / 3;
     grid-row: 1 / 5;
}

.heart1 {
    
    place-self: center;
    width: 50%;
    height: 40%;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}

.log2 {
   width: 30%;
}

.header-container-brown {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 109, 82);
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.header-container-green {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 132, 110);;
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.log3 {
   width: 30%;
}

.hamburger {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap:50px;
    background-color: rgb(255, 255, 255);
}

nav {
    height: 3rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.503);
   p {
       margin:0;
       display: flex;
       color: rgb(5, 86, 71);
       font-size: big;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       align-items: center;
       text-align: center;
       font-weight:medium;
       
     }
}

h1 {
    color: rgb(10, 132, 110, 1);
    font-size: 2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin: 5%;
}

.main-section {
    display: flex;
    gap: 50px;
    min-height: 100%;
    flex-direction: row;
}

.figure-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    
    aspect-ratio: 1/1;
    max-width: 80%;
    background-color: rgb(10, 132, 110, 1);
}

.vector-img {
    max-height: 70%
}

.section-2 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 20px;
   p {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
     }
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(10, 132, 110, 1);
    max-height: 3em;
    align-self: flex-end;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    padding: 6px 16px;
    font-weight: 300;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    line-height: 20px;
    display: inline-block;
    box-sizing: border-box;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(27, 31, 35, .15);
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.503);
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
    padding: 5%;
}

.knapp {
    justify-self: flex-end;
    margin: 5%;
    background-color: rgba(185, 56, 87);
}

.main__box {
    display: flex;
    flex-direction: column;
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.503);   
      h4 {
          padding: 5px;
          margin: 10px;
        }
       p {
        padding: 5px; 
         }    
     h5 {
        justify-self: flex-start;
        align-self: flex-end;
        margin: 10px;
        }
}

.knapp2 {
   align-self: center;
   padding: 15px 30px;
   font-size: 1.2rem;
   min-width: 200px; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.greens {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.logo {
position: absolute;
min-height: 30%;
min-height: 30%;
}

.greens-info {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(1fr 1fr);
    grid-template-rows: repeat(1fr 1fr);
    h4 {
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 150%;
      }
    p {
        font-weight: bold;
        padding-top: 1em;
        grid-column: 4/4;
        grid-row: 1/2;
    
      }
 .knapp {
        grid-column: 4/4;
        grid-row: 4/5;
        }
    article {
        padding: 10%;
        grid-column: 1/3;
        grid-row: 3/5;
        }
}

.second {
    display: flex;
    p {
     
    font-family:Verdana, Geneva, Tahoma, sans-serif;     
     }
 h2 {
     margin-left: 5%;
    }
}

.button_bottom {
    align-self: flex-end;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1;
}
  
  .section-3 .button_bottom {
    align-self: flex-start;
    padding: 15px 30px;
    font-size: 1.2rem;
    min-width: 200px;  
}

footer {
    display: grid;
    position: relative;
    margin-top: 10%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.nav-footer {
    height: 4em;
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.503);
    p {
     color: black;
     font-weight: normal;
     font-size: x-large;
      }
}

.link-top {
    margin-top: 2%;
    text-decoration: none;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-img {
    display: none;
}

.second-footer {
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.footer-bild {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

.logo1 {
  position: absolute;
  justify-self: flex-end;
  align-self: center;   
}

.vänster {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.932);
  grid-column: 1 / 3;
  grid-row: 1 / 5;
}

.heart {
grid-column: 3/5;
grid-row: 1/5;
}

.telefon-log{
   padding: 2%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mail {
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h6 {
    padding-top: 6rem;
    grid-column: 1/4;
    grid-row: 2/4;
    font-size: 5rem;
    color: white;
    padding-left: 6rem;
}
    
.trashcan {
    display: none;
}